{% extends 'bnbg/base.html' %}
{% block Title %}B&BG - arbol{% endblock %}
{% block content %}
{% load static %}
<section id="main">

	<div class="inner">

		<p>El arbol presentado a continuación permite conocer y explorar los distintos estilos que existen en relación a los juegos de mesa, mostrando que juegos son más populares dentro de cada estilo y subestilo que presentan las ramas y sus hojas.
		
		<center><h1>Arbol de estilos </h1>
		
		<script type="text/javascript" src="{% static 'bnbg/js/tree.js' %}"></script></center>
		

	</div>
</section>
{% endblock %}