{% extends 'bnbg/base.html' %}
{% block Title %}B&BG - burbujas{% endblock %}
{% block content %}
{% load static %}
	<section id="main">

		<div class="inner">

			<p>ESTO NO ES ASÍ! Tanto el diametro como la distancia de las burbujas, permiten indicar tendencias entre categorías. Especificamente el diametro se relaciona con la popularidad de la categoría, mientras que la distancia representa la relación ente las mismas.
			<center><h1>Burbujas de categorías</h1></center>
			
			<center><svg width="600" height="600"></svg></center>
			<script type="text/javascript" src="{% static 'bnbg/js/circlePacking.js' %}"></script>

		</div>
	</section>
{% endblock %}