{% extends 'bnbg/base.html' %}
{% block Title %}B&BG - Tendencias{% endblock %}
{% block content %}
{% load static %}
<section id="main">

	<div class="inner">

		<p>En el presente gráfico de barra se toma la información de los primeros 555 juegos de mesas en el ranking, de los cuales se ven sus categorías, estas categorías son ordenadas por el promedio de las evalaciones de sus jueegos, lo cual sirve para que veas cuales son las <strong>categorías mejor evaluadas</strong> </p>
		
		<center><h1>Categoría Vs Promedio de Evaluación </h1></center>
		<label><input type="checkbox"> Ordenar por Promedio</label>
		{% load static %}
		<script src="{% static 'bnbg/js/sortbarchart.js'%}"></script>
		
	</div>
</section>
{% endblock %}
{% block script%}

{% endblock%}