{% extends 'bnbg/base.html' %}
{% block Title %}B&BG - Seleccionar Juego {% endblock %}
{% block content %}
{% load static %}
	<section id="main">
		<div class="inner">
			<p>El arbol presentado a continuación te permite recorrer y explorar a partir de un juego conocido. Este árbol te presentará diversos juegos que tengan caracterísiticas similares al juego inicial, como por ejemplo, su <strong>categoría y su mécanica</strong></p>
			<center>
				<h1>Arbol de estilos </h1>
				<form id="selectGame" action="/bnbg/selectGame/" method="POST">
					{% csrf_token %}
					<select name="dato">
						{% for dato in data %}
							<option value="{{dato}}">{{dato}}</option>					
						{% endfor %}
					</select>
 					<input type="submit" value="Seleccionar">
				</form>

			</center>			
		</div>
	</section>
{% endblock %}