<!DOCTYPE html>
<html lang="en">
	

	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link href="{% static 'bnbg/css/main.css' %}" rel="stylesheet">
		<link href="{% static 'bnbg/css/styles.css' %}" rel="stylesheet">
		<script src="http://d3js.org/d3.v3.min.js"></script>

		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo2">
			<img src="{% static 'bnbg/fonts/beersandboardgames.png' %}" style="width:150px;height:112.5px;"/>
			<nav>
			<a href="#menu">Menu</a>
			</nav>
		</header>
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index' %}">Inicio</a></li>
					<li><a href="{% url 'tendencias' %}">Tendencias en categorías</a></li>
					<li><a href="{% url 'burbujas' %}">Exploración por Características</a></li>
					<li><a href="{% url 'arbol' %}">Relación con tu juego</a></li>
				</ul>
			</nav>
		{% block content %} {% endblock %}

		<!-- Footer -->
	<footer id="footer">
				<ul class="copyright">
				<img src="{% static 'bnbg/fonts/beersandboardgames.png' %}" style="width:150px;height:112.5px;"/>
				</ul>
				<div class="copyright">
					&copy; Gabriel Godoy, Katherine Liberona y Maximiliano Pérez.
				</div>
	</footer>

	<!-- Scripts -->
		<script src="{% static 'bnbg/js/jquery.min.js' %}"></script>
		<script src="{% static 'bnbg/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'bnbg/js/skel.min.js' %}"></script>
		<script src="{% static 'bnbg/js/util.js' %}"></script>
		<script src="{% static 'bnbg/js/main.js' %}"></script>
		{% block script %}{% endblock %}

	</body>
</html>